<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Set encoding -->
    <meta charset="utf-8"> 

    <!-- Set title of webpage (title of tab) -->
    <title>Eric's Website</title>

    <!-- Dynamically link the css file  -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- For displaying icons (see https://useiconic.com/open/) -->
    <link href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}" rel="stylesheet">
    <!-- Dynamically link javascript bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </head>

  <header>
  </header>

  <body>

    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>

  </body>

</html>
