.underline {
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: 13px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    z-index: -1;
}

.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.dots {
    position: absolute;
    z-index: -1;
    right: -4rem;
    bottom: -2rem;
	background:
		linear-gradient(90deg, #fff 15px, transparent 1%) center,
		linear-gradient(0deg,  #fff 15px, transparent 1%) center,
		var(--chakra-colors-blue-50);
	background-size: 30px 30px;
	width: 210px;
	height: 210px;
}