.underline {
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: 13px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    z-index: -1;
}

.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}